@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qnriu4');
  src:  url('fonts/icomoon.eot?qnriu4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qnriu4') format('truetype'),
    url('fonts/icomoon.woff?qnriu4') format('woff'),
    url('fonts/icomoon.svg?qnriu4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-exit:before {
  content: "\ea14";
}
